<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Michael Dennis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- type faces -->
	<link href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded' rel='stylesheet' type='text/css'>
  <!-- end type faces -->

	<script type="text/javascript" src="javascripts/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js" async defer></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<body>

  <div class="container">
  	<nav class="navbar navbar-inverse navbar-fixed-top">
  		<div class="nav-left col-xs-12 col-md-3"><h1>Michael Dennis</h1></div>
	  	<div class="nav-right col-xs-12 col-md-9"><h1>Full-Stack Web Developer</h1></div>
	  </nav>

  	<div class="row">
  		<div class="sidebar col-xs-12 col-md-3">
  			<img class="thumb" src="https://scontent-lga1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/3925_10201553641339875_901446367_n.jpg?oh=bd881b5129fd0f4f74b56060fde4d2c3&oe=564106EA"/>
  			<div class="bio">
  			</div>
  		</div>
		  <div class="col-xs-12 col-md-9">


		  </div>
		</div>
  </div>
 
</body>

</html>