<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Michael Dennis</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<script type="text/javascript" src="javascripts/jquery-2.1.4.js"></script>
</head>
<body>

	<div class="container">

		<header>
			<h1>Michael Dennis - About Me</h1>
		</header>
		
		<ul>
			<li><a href="https://github.com/michaelsdennis4">My GitHub Page</a></li>
			<li><a href="https://www.linkedin.com/in/michaelsdennis">My Linked In Profile</a></li>
			<li><a href="http://michaelsdennis.blog.com">My Personal Blog</a></li>
		</ul>

		<div class="biography">

			<h2>Personal Biography</h2>

			<p>I am a 45-year-old professional holding a Bachelor of Technology in <strong>Graphic Communications Management</strong> (1991) and a <strong>Certificate in Computer Programming</strong> (2001), both from Ryerson University in Toronto. Prior to GA, my main career focus had been in the print media sector (commercial printing and related services) in which I have over twenty years of experience.</p>

			<p>I have also over fifteen years experience in computer programming, particularly as applied in support of business operations. After years of self-teaching, I formalized this interest with the acquisition of a computer programming certificate. Since that time I have designed and programmed many applications, including both front-end GUI interfaces and back-end database functionality.</p>

			<p>I have enjoyed all my education and work experiences to date, and believe that learning web application development is an exciting step forward for me which builds not only on the foundations of my graphics/media background but also my passion for programming.</p>

		</div>

		<div class="spirit">

			<h2>Spirit Animal - Owl</h2>

			<p>The owl spirit animal is emblematic of a deep connection with wisdom and intuitive knowledge. If you have the owl as totem or power animal, you’re likely to have the ability to see what’s usually hidden to most. When the spirit of this animal guides you, you can see the true reality, beyond illusion and deceit. The owl also offers for those who have it a personal totem the inspiration and guidance necessary to deeply explore the unknown and the magic of life.</p>

		</div>

	</div>
	
</body>
</html>