body {

}

.navbar {
	font-family: 'Stint Ultra Expanded', cursive;
	text-align: center;
	background-color: none;
}

.nav-left {
	float: left;
	font-weight: 700;
	background-color: white;
	color: rgba(0,100,0,1);
}

.nav-right {
	float: left;
	background-color: rgba(0,100,0,1);
	color: white;
}

.sidebar {
	background-color: rgba(0,100,0,1);
	position: absolute;
	left: 0;
	height: 1000px;
}

.thumb {
	margin-top: 200px;
	margin-left: 10%;
	width: 80%;
	border-radius: 50%;
}