body {

}

.title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	float: left;
	text-align: center;
	height: 100px;
	line-height: 50px;
	background-color: none;
}

#title-left {
	font-weight: 700;
	background-color: white;
	color: rgba(0,100,0,1);
}

#title-right {
	background-color: rgba(0,100,0,0.8);
	color: white;
}

.sidebar {
	float: left;
	margin-left: 0;
	background-color: rgba(0,100,0,0.8);
	height: 1500px;
}

.thumb {
	margin-top: 60px;
	margin-left: 10%;
	width: 80%;
	border-radius: 100px;
}

.menu {
	width: 60%;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: white;
}

.item {
	color: white;
	margin-bottom: 10px;
}

.item a {
	color: white;
}

.item a:hover {
	color: white;
}

.item a:visited {
	color: white;
}

.panel {
	float: left;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	height: 1500px;
	padding: 25px 7%;
}

.caption {
	width: 100%;
	color: rgba(0,100,0,1);
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}

img {
	border: solid black 1px;
	border-radius: 5px;
}